:root {
    --body-color: rgb(20, 20, 20);
    --red: rgb(220, 20, 60);
    --dark-red: rgb(190, 15, 50);
    --darker-red: rgb(160, 10, 40);
    --font-title: "MuseoModerno";
    --font-body: "Roboto Mono";
    --white: #fbfaf5;
    --black: #212123;
}
